* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(224, 239, 202);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 1000px;
}


.form-container h1 {
    text-align: center;
    margin-bottom: 2px;
    color: #2c3e50;
}


.form-group {
    margin-bottom: 2px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 0px;
    color: #34495e;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #3498db;
    outline: none;
}


.form-button {
    width: 50%;
    flex: auto;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 14px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
    display: block;
}

.form-button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    margin-top: 2%;
    border-collapse: collapse;
    background-color: rgb(224, 239, 202);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

thead {
    width: 100%;
    width: 100%;
    background-color: rgb(224, 239, 202);
    color: black;
margin-bottom: 20px;
}

th,
td {
    padding: 14px 20px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

tbody tr:hover {
    background-color: #f2f2f2;
}


h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}